.benefit {
    text-align: center;
    margin-top: 20px;
}

button {
    float: right;
    margin-top: -30px;
    padding: 10px 20px 10px 20px;
    margin-right: 10px;
    border-style: none;
    background-color: white;
    transition: transform 0.1s;
    filter: grayscale(50%);
    color: black;
    font-size: 15px;
}

button:hover {
    cursor: pointer;
    transform: scale(1.1);
    color: white;
    background-color: black;
}

p {
    text-align: center;
    padding-right: 30px;
    padding-left: 30px;
}

.lol {
    text-align: center;
}